[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
wemake-python-styleguide = "*"
autopep8 = "*"
pep8 = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
pytest-asyncio = "*"
pytest-mock = "*"
lime-python = "*"
nest-asyncio = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest --cache-clear --cov-report term --cov=src tests/"
lint = "flake8 . --count --show-source --statistics"
